//----------------------------------------------------------------------
// Screen Mode
//----------------------------------------------------------------------

$notebook: 1400px;
$row1340: 1340px;
$row1280: 1280px;
$row: 1140px;
$row1080: 1080px;
$md: 960px;
$row890: 890px;
$sm: 768px;
$xs: 480px;